@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400;500;600;700&family=Heebo&family=Kanit:ital,wght@0,100;0,300;0,500;0,600;0,700;0,800;1,100;1,200;1,400&family=Libre+Franklin:ital,wght@0,400;0,500;0,600;0,700;1,500;1,600&family=Montserrat:ital,wght@0,400;0,500;0,600;1,700&family=Nunito:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,600&family=Roboto+Slab&family=Rubik:wght@400;500;700&family=Ubuntu&display=swap');

html,
body,
#root,
.app{
  height: 100%;
  width: 100%;
  font-family: "Rubik",sans-serif;
  overflow-x: hidden;
}